{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 4,
  "plugins": ["prettier-plugin-tailwindcss"]
}
